/* Stile base per la sidebar */
.sidebar {
  width: 60px;
  background-color: #2c3e50;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  transition: width 0.3s;
}

.sidebar.expanded {
  width: 240px;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar li {
  display: flex;
  align-items: center;
}

.sidebar a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  padding: 15px;
  transition: background-color 0.3s;
}

.sidebar a:hover {
  background-color: #34495e;
}

.sidebar .material-icons {
  font-size: 24px;
  margin-right: 16px;
}

.sidebar.expanded .label {
  display: inline;
}

.label {
  display: none;
}

/* Bottone di toggle */
.toggle-button {
  position: absolute;
  bottom: 20px;
  left: 65%;
  transform: translateX(-50%);
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.toggle-button .material-icons {
  font-size: 24px;
}
