<div>
    <h1>Calendario</h1>
    <button mat-button color="primary" (click)="openAddEventPopup()">Aggiungi Evento</button>
    <full-calendar [options]="calendarOptions"></full-calendar>
  
    @if (selectedDate) {
      <div class="event-overlay">
        <h2>Eventi del {{ selectedDate }}</h2>
        <ul>
          @for (event of eventsForDate; track event.title) {
            <li>
              <strong>{{ event.title }}</strong> - {{ event.description }}
            </li>
          }
        </ul>
        <button mat-button (click)="closeDropdown()">Chiudi</button>
      </div>
    }
  </div>
  